<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.apihabibullah">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.APIHabibullah">
        <activity
            android:name=".IsiListGo"
            android:exported="true" />
        <activity
            android:name=".IsiListDart"
            android:exported="true" />
        <activity
            android:name=".IsiListPy"
            android:exported="true" />
        <activity
            android:name=".IsiListJS"
            android:exported="true" />
        <activity
            android:name=".IsiListC"
            android:exported="true" />
        <activity
            android:name=".IsiList"
            android:exported="true" />
        <activity
            android:name=".ListPemrograman"
            android:exported="true" />
        <activity
            android:name=".Pemrograman"
            android:exported="true" />
        <activity
            android:name=".DaftarPemrograman"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>